<div class="tabClass">
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>Anisha Begum</mat-card-title>
        <mat-card-subtitle>President</mat-card-subtitle>
        <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
      </mat-card-title-group>
      <mat-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, placeat
        aliquid veritatis neque magni perferendis debitis, temporibus animi ullam
        est odio cupiditate qui praesentium atque reprehenderit ipsum voluptate?
        Dolorum, perferendis!
      </mat-card-content>
   </mat-card>
    <mat-card class="example-card"> 
      <mat-card-title-group>
        <mat-card-title>Anisha Begum</mat-card-title>
        <mat-card-subtitle>President</mat-card-subtitle>
        <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
      </mat-card-title-group>
      <mat-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, placeat
        aliquid veritatis neque magni perferendis debitis, temporibus animi ullam
        est odio cupiditate qui praesentium atque reprehenderit ipsum voluptate?
        Dolorum, perferendis!
      </mat-card-content>
       <mat-card-actions>
    <button mat-button>LIKE</button>
  </mat-card-actions>
    </mat-card>
    
    
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>Faheem Abdu Rahiman</mat-card-title>
        <mat-card-subtitle>Secretary</mat-card-subtitle>
        <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
      </mat-card-title-group>
      <mat-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, placeat
        aliquid veritatis neque magni perferendis debitis, temporibus animi ullam
        est odio cupiditate qui praesentium atque reprehenderit ipsum voluptate?
        Dolorum, perferendis!
      </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>Anisha Begum</mat-card-title>
        <mat-card-subtitle>President</mat-card-subtitle>
        <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
      </mat-card-title-group>
      <mat-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, placeat
        aliquid veritatis neque magni perferendis debitis, temporibus animi ullam
        est odio cupiditate qui praesentium atque reprehenderit ipsum voluptate?
        Dolorum, perferendis!
      </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>Anisha Begum</mat-card-title>
        <mat-card-subtitle>President</mat-card-subtitle>
        <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
      </mat-card-title-group>
      <mat-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, placeat
        aliquid veritatis neque magni perferendis debitis, temporibus animi ullam
        est odio cupiditate qui praesentium atque reprehenderit ipsum voluptate?
        Dolorum, perferendis!
      </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>Anisha Begum</mat-card-title>
        <mat-card-subtitle>President</mat-card-subtitle>
        <img
          mat-card-md-image
          src="https://material.angular.io/assets/img/examples/shiba1.jpg"
        />
      </mat-card-title-group>
      <mat-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, placeat
        aliquid veritatis neque magni perferendis debitis, temporibus animi ullam
        est odio cupiditate qui praesentium atque reprehenderit ipsum voluptate?
        Dolorum, perferendis!
      </mat-card-content>
    </mat-card>
    </div>
